body:not(.darkmode) {
    --default-text-color: #000;
}

body.darkmode {
    --background-light-opacity: rgb(22 27 34 / 92%);;
    --background-light: #161b22;
    --background-dark: #0d1117;
    --default-text-color: #fff;
    --accent-border: #272727;
    --brand-color: #0052ff;
    --main-gradient: to left bottom, #0052ff, #0044d1, #0036a4, #012879, #061a50, #11153f, #13112e, #120b1f, #17111f, #1b161f, #1f1b20, #212021
}