@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import url(colors.css);

/* Dokończ nawigacje */

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 3000px;
    background: var(--background-dark);
    color: var(--default-text-color);
    font-family: 'Montserrat', sans-serif;
}

.body-wrapper {
    box-sizing: border-box;
    height: 100%;
}

.aside-wrapper {
    max-width: 300px;
    width: 100%;
    height: 100%;
    float: left;
    transition: max-width .3s ease-out;
}

.aside-wrapper.collapsed {
    max-width: 70px;
}

.aside-wrapper aside {
    background: var(--background-light);
    width: 100%;
    height: 100vh;
    position: fixed;
    max-width: 300px;
    transition: max-width .3s ease-out;
    overflow-x: hidden;
}

.aside-wrapper.collapsed aside {
    max-width: 70px;
}

.aside-icon-wrapper {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid var(--accent-border);
}

.aside-icon-wrapper .hamburger-btn {
    width: 36px;
    height: 36px;
    position: relative;
    cursor: pointer;
    margin-left: 18px;
}

.hamburger-btn > span,
.hamburger-btn > span::before,
.hamburger-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--default-text-color);
    content: '';
    transition: background-color .3s ease-out;
}

.hamburger-btn:hover > span,
.hamburger-btn:hover > span::before,
.hamburger-btn:hover > span::after {
    background-color: var(--brand-color);
}

.hamburger-btn > span {
    top: 17px;
}

.hamburger-btn > span::before {
    top: -8px;
}

.hamburger-btn > span::after {
    top: 8px;
}

/* .aside-wrapper.collapsed .hamburger-btn:hover > span {
    transition: none;
}

.aside-wrapper .hamburger-btn:hover > span,
.aside-wrapper .hamburger-btn:hover > span::before,
.aside-wrapper .hamburger-btn:hover > span::after {
    transition: transform .2s ease-out;
}

.aside-wrapper.collapsed .hamburger-btn:hover > span {
    background-color: transparent;
}

.aside-wrapper.collapsed .hamburger-btn:hover > span::before {
    transform: rotate(26deg);
}

.aside-wrapper.collapsed .hamburger-btn:hover > span::after {
    transform: rotate(-26deg);
} */

/* PAGE CONTENT STYLES */

.page-content {
    width: calc(100% - 300px);
    float: left;
    transition: width .3s ease-out;
}

.aside-wrapper.collapsed + .page-content {
    width: calc(100% - 70px);
}