@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import url(colors.css);

/* Dokończ nawigacje */

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 3000px;
    background: var(--background-dark);
    color: var(--default-text-color);
    font-family: 'Montserrat', sans-serif;
}

a {
    color: var(--default-text-color);
    text-decoration: none;
}

.body-wrapper {
    box-sizing: border-box;
    height: 100%;
}

.aside-wrapper {
    max-width: 300px;
    width: 100%;
    height: 100%;
    float: left;
}

.aside-wrapper aside {
    background: var(--background-light);
    width: 100%;
    height: 100vh;
    position: fixed;
    max-width: 300px;
}


.aside-logo-wrapper {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid var(--accent-border);
}

aside h1 {
    font-size: 2.4em;
    margin-bottom: 40px;
    padding-left: 15px;
}

aside h1 span {
    color: var(--default-text-color);
    transition: color .3s ease-out;
    cursor: default;
}

aside h1 span:hover {
    color: var(--brand-color);
}

aside h1 span.active {
    color: var(--brand-light);
}

aside h1 span.active2 {
    color: var(--brand-lighter);
}

aside h1 span:not(:nth-child(1)) {
    margin-left: -11px;
}

aside h1 span.dot {
    color: var(--brand-color);
}

aside h1 span.dot:hover {
    color: var(--default-text-color);
}

aside .links-wrapper {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
}

aside .links-wrapper a {
    font-size: 1.1em;
    padding: 10px 22px 10px 45px;
    border-radius: 30px;
    margin-bottom: 5px;
    transition: background-color .3s ease-out, color .3s ease-out;
    position: relative;
}

aside .links-wrapper a i {
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

aside .links-wrapper a:hover {
    background-color: var(--background-dark);
    color: var(--brand-color);
}

/* PAGE CONTENT STYLES */

.page-content {
    width: calc(100% - 325px);
    float: left;
    transition: width .3s ease-out;
    padding-left: 25px;
}

.aside-wrapper.collapsed + .page-content {
    width: calc(100% - 70px);
}